body {
  background-image: url(/img/00.png);
  background-size: cover;
  background-repeat: no-repeat;
  color: rgb(7, 7, 7);
  font-family: "Arial Black", sans-serif;
}

h1 {
  color: #6a6b67; /* Morado pastel para los títulos */
  text-align: center;
  margin-top: 50px;
}

form {
  max-width: 600px;
  margin: 0 auto;
 
  padding: 20px;
  border-radius: 10px;
}

label {
  display: block;
  margin-bottom: 10px;
  color: #433d4e; /* Morado oscuro para contraste en las etiquetas */
}

input[type="text"] {
  width: 90%;
  padding: 10px;
  border: 1px solid #11140f; /* Borde azul pastel */
  border-radius: 5px;
  margin-bottom: 20px;
}

button {
  margin-top: 30px;
  background-color: #f5f9f0; /* Botones morados pastel */
  color: #5f5c5c;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
}

.subirArchivo {
  height: 20px;
  background-color: #e0e2dd; /* Botones morados pastel para subir archivos */
  color: #777474;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
}

table {
  margin-top: 30px;
  border-collapse: collapse;
  width: 100%;
  background-color: #ebebeb; /* Fondo claro para las tablas */
  border-radius: 10px;
}

th, td {
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid #000000;
}

th {
  background-color: #b7b8b4; /* Cabeceras de tabla azules pastel */
  color: #ffffff;
}

tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

tbody tr:hover {
  background-color: #cccccc;
}

.volver-inicio {
  position: fixed;
  top: 20px;
  left: 20px;
}

.btn-volver {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  text-decoration: none;
  background-color: #b4b4d6; 
  color: #fff;
  border-radius: 5px;
}

.btn-volver:hover {
  background-color: #3a3a5e;
}

.contenedor-principal {
  display: flex;
  justify-content: space-between;
}

.contenedor-formulario {
  flex: 1; 
  margin-top: 26px;
  margin-right: 30px; 
}

.contenedor-tabla {
  flex: 1.5; 
  margin-right: 30px;
}

button:hover, .subirArchivo:hover, .btn-volver:hover {
  background-color: #e3f0d3; 
  color: #0a0909;
}
button#btnBorrar:hover {
  background-color: #d9534f; 
  color: #ffffff;
}