*{
    margin: 0;
    padding: 0;

}
body{
    color: rgb(14, 14, 14);
    background-image: url(/img/jl.png);
    background-size: cover;
    background-repeat: no-repeat;

}
#contenedor{
    background-image: url(/img/jlll.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 70%;
    height: 50%;


}
encabezado{
    width: 90%;
    background-color: rgb(90, 115, 129);
    margin: 1em;
    border-radius: 5px;
    text-align: center;

}
#menu{
    height: 80%;
    background-color: rgb(211, 206, 248);
    margin: 10em;
    border-radius: 50px;
   }
   /*selector de etiqueta*/

li{
   display: inline;
   padding: 10px 30px;
   margin: 4em;
}
li a:hover{
   color: rgb(116, 30, 11);
   text-decoration: none;
   list-style: none;
   font-size: 22px;
}

img:hover{
    width: 60%;

}


/*selector de clase*/
.img{
    width: 50%;
    border-radius: 30px;
    justify-items: center;


}